.body {
    font-family: Arial, sans-serif;
    color: #FFF;
    font-size: 15px;
    line-height: 1.5;

    .title-1 {
        font-size: 34px;
        line-height: 1.6;
        letter-spacing: 0.02em;
    
        span {
            color: rgb(255, 219, 153);
        }

        @container body (max-width: 355px) {
            font-size: 28px;
        }
    }
    
    .title-2 {
        font-size: 26px;
        line-height: 1.6;
        letter-spacing: 0.02em;

        @container body (max-width: 690px) {
            font-size: 24px;
        }
    }
    
    .title-3 {
        font-size: 22px;
        line-height: 1.4;
    }
}
